{% load static %}
{% load i18n %}
<nav class="bottom-navbar">
    <div class="container nepali_td">
        <ul class="nav page-navigation">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="link-icon" data-feather="box"></i>
                    <span class="menu-title">{% trans 'dashboard' %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="link-icon" data-feather="mail"></i>
                    <span class="menu-title">{% trans 'information' %}</span>
                    <i class="link-arrow"></i>
                </a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link"
                                                href="{% url 'personal_details' %}">{% trans 'personal_details' %}</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">{% trans 'organization' %}</a>
                        </li>

                        <li class="nav-item"><a class="nav-link" href="#">{% trans 'business' %}</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">{% trans 'rental' %}</a>
                        </li>

                        <li class="nav-item"><a class="nav-link" href="#">{% trans 'relatives' %}</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">{% trans 'files' %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">{% trans 'remarks' %}</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item mega-menu">
                <a href="{% url 'land' %}" class="nav-link">
                    <i class="link-icon" data-feather="book"></i>
                    <span class="menu-title">{% trans 'property' %}</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="link-icon" data-feather="feather"></i>
                    <span class="menu-title">{% trans 'payment' %}</span>
                    <i class="link-arrow"></i>
                </a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="#">{% trans 'calculate_tax' %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'tax_to_pay' %}">{% trans 'tax_to_pay' %}</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'tax_paid' %}">{% trans 'tax_paid' %}</a>
                        </li>

                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="link-icon" data-feather="inbox"></i>
                    <span class="menu-title">Ebps</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="link-icon" data-feather="inbox"></i>
                    <span class="menu-title">{% trans 'faq' %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="link-icon" data-feather="inbox"></i>
                    <span class="menu-title">{% trans 'how_to' %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="link-icon" data-feather="hash"></i>
                    <span class="menu-title">{% trans 'change_password' %}</span></a>
            </li>
        </ul>
    </div>
</nav>
