{% extends 'base.html' %}
{% block content_wrapper %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <div class="page-content">
        <nav class="page-breadcrumb">
            <ol class="breadcrumb">
                <a href="{% url 'create_esewa_credential' %}" class="btn btn-inverse-info">Add Esewa Web Credentials</a>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="dataTableExample" class="table">
                                <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Client Id</th>
                                    <th>Esewa Payment Ward</th>
                                    <th>Esewa merchant code</th>
                                    <th>Is Ebps</th>
                                    <th>Is Active</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for r in credentials %}
                                    <tr>
                                        <td>{{ r.id }}</td>
                                        <td>{{ r.client_id }}</td>
                                        <td>{{ r.esewa_payment_ward }}</td>
                                        <td>{{ r.esewa_merchant_code }}</td>
                                        <td>{{ r.is_ebps }}</td>
                                        <td>{{ r.is_active }}</td>
                                        <td class="px-4 py-3 whitespace-no-wrap border-b border-gray-200">
                                            <form>
                                                {% csrf_token %}
                                                <a href="{% url 'view_esewa_credential' r.id %}" id="show-user">
                                                    <span class="m-1"><i class="fa fa-eye" style="color: mediumpurple"></i></span>
                                                </a>
                                                <a href="{% url 'update_esewa_credential' r.id %}" id="edit-user" title="edit">
                                                    <span class="m-1"><i class="fa fa-edit"></i></span>
                                                </a>
                                                <a href="#" type="button" title="Delete" class="delete-btn" data-id="{{ r.id }}">
                                                    <i class="fa fa-trash" style="color: red"></i>
                                                </a>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        // Function to display delete confirmation using SweetAlert
        document.querySelectorAll('.delete-btn').forEach(btn => {
            btn.addEventListener('click', function() {
                const id = this.getAttribute('data-id');
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // If confirmed, submit the delete form
                        document.getElementById('deleteForm').submit();
                    }
                });
            });
        });
    </script>
{% endblock %}
